In [2]:
#Print Pattern of Starts
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

Enter the number of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [24]:
#print a multiplication table 

def mul(num1, num2):
    mul=num1*num2
    return mul

for x in range(1,11):
    for y in range(1,11):
        print(x,'*',y,'=',x*y)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [11]:
# Print Multiplication Table
num = int(input("Enter the number to generate its multiplication table: "))
limit = int(input("Enter the limit for the table: "))

print(f"\nMultiplication Table for {num} up to {limit}:\n")
for i in range(1, limit + 1):
    print(f"{num} x {i} = {num * i}")

Enter the number to generate its multiplication table: 10
Enter the limit for the table: 10

Multiplication Table for 10 up to 10:

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [15]:
#Count the number of A, T, G, C nucleotides in this DNA = "ATGCGATACGTTTGA" sequence
# Count nucleotides in a DNA sequence
DNA = "ATGCGATACGTTTGA"

# Initialize counters
count_A = DNA.count('A')
count_T = DNA.count('T')
count_G = DNA.count('G')
count_C = DNA.count('C')

# Display results
print("Nucleotide counts:", DNA)
print(f"A: {count_A}")
print(f"T: {count_T}")
print(f"G: {count_G}")
print(f"C: {count_C}")

Nucleotide counts: ATGCGATACGTTTGA
A: 4
T: 5
G: 4
C: 2

In [20]:
# Function to multiply two numbers
def mul(num1, num2):
    return num1 * num2

# Print header row
print("    ", end="")
for i in range(1, 11):
    print(f"{i:4}", end="")
print()

# Print table rows
for x in range(1, 11):
    print(f"{x:2} |", end="")  # Row label
    for y in range(1, 11):
        print(f"{mul(x, y):4}", end="")
    print()

       1   2   3   4   5   6   7   8   9  10
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

In [25]:
# Print header row
print("    ", end="")
for i in range(1, 11):
    print(f"{i:4}", end="")
print()

# Print table rows
for x in range(1, 11):
    print(f"{x:2} |", end="")
    for y in range(1, 11):
        print(f"{x * y:4}", end="")
    print()

       1   2   3   4   5   6   7   8   9  10
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

In [26]:
for x in range(1, 11):
    for y in range(1, 11):
        print(f"{x*y:4}", end="")
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100